<!DOCTYPE html>
<html ng-app="mieru_cpi">
<head lang="ja">
    <meta charset="UTF-8">
    <title>みえるCPI</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/nvd3/build/nv.d3.min.css">

    <!-- loading bar-->
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-loading-bar/build/loading-bar.min.css">
    <script src="app.js"></script>

    <style>
        text {
            font: 12px sans-serif;
        }

        svg {
            margin: 10px;
            padding: 5px;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>

<div ng-controller="MainCtrl" class="container">

    <!-- Year Form -->

    <form name="yearAndItemForm" ng-init="onInit()">
        <div class="row">
            <!-- Item to select -->

            <div class="col-xs-12">
                <label>Item:</label>
                <select class="form-control" ng-model="selectedItem" ng-options="item as item.name for item in items"
                        required
                        ng-change="onChangeItem()">
                    <option value="">Please select Item Name</option>
                </select>
                <!-- Type Ahead Form -->
                <input type="text" ng-model="selectedItem"
                       typeahead="item as item.name for item in items | filter:$viewValue"
                       typeahead-on-select="onChangeItem()">
            </div>

            <!-- Year to select -->
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Range:</label>
                <select class="form-control" ng-model="selectedYr" ng-options="year as year.label for year in years"
                        required
                        ng-change="onChangeYr()">
                    <option value="">Please select year</option>
                </select>
            </div>
        </div>
        <button ng-disabled="!yearAndItemForm.$valid" ng-click="render_lineChart()"
                type="button" class="btn btn-primary">Refresh
        </button>


    </form>
    <!-- {{selectedItem}} {{selectedYr}} -->
    <!-- visualizing chart -->
    <div class="row">
        <div class="col-xs-12">
            <nvd3 options="options_lineChart" data="data"></nvd3>
        </div>
    </div>

    <!-- Bar Chart - select top&bottom n -->
    <hr>
    <form name="barChart">
        <div class="row">
            <div class="col-xs-5">
                <label>From:</label>
                <select class="form-control" ng-model="from_year" ng-options="y for y in year" required>
                    <option value="">Year</option>
                </select>
                <select class="form-control" ng-model="from_month" ng-options="m for m in month" required>
                    <option value="">Month</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <label>To:</label>
                <select class="form-control" ng-model="to_year" ng-options="y for y in year" required>
                    <option value="">Year</option>
                </select>
                <select class="form-control" ng-model="to_month" ng-options="m for m in month" required>
                    <option value="">Month</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <label>Top/Bottom</label>
                <select class="form-control" ng-model="top_bottom" ng-options="tb for tb in topbottom"
                        required></select>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-xs-5">
            <button ng-disabled="!barChart.$valid"
                    ng-click="render_barChart(from_year,from_month,to_year,to_month,top_bottom)" ng-model="barMsg"
                    type="button" class="btn btn-primary">
                Show Bar Chart
            </button>
        </div>
    </div>
    <br>
    {{barMsg}}
    <div class="row">
        <div class="col-xs-12">
            <nvd3 data="data_barChart" options="options_barChart"></nvd3>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-5">
            <button ng-disabled="!barChart.$valid"
                    ng-click="render_horizontalBarChart(from_year,from_month,to_year,to_month,top_bottom)"
                    type="button" class="btn btn-primary">
                Horizontal Bar Chart
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <nvd3 data="data_horizontalBarChart" options="options_horizontalBarChart"></nvd3>
        </div>
    </div>

</div>

</body>
</html>