<!DOCTYPE html>
<html ng-app="form_app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="form_app.js"></script>
</head>
<body>
    <form name="yearForm" ng-controller="typeCtrl">
        <select ng-model="selectedYr"
                ng-options="year as year.label for year in years"
                required>
            <option value="">Plz select</option>
        </select>
        <button ng-disabled="!yearForm.$valid"
                ng-click="submit()">SUBMIT</button><br>
        {{ selectedYr }}


    </form>


    </div>
</body>
</html>